body{
    margin: 0;
    padding:0;
    background:  rgb(173, 214, 146);
}

span{ 
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: rgb(27, 133, 27);
}

.centralizar{
    text-align: center;
}
.tabela{
    display: flex;
    padding: 0.5em;
    margin-top: 15px;
    justify-content:space-around ;
    
}


@media (min-width: 320px){
    .conteudo{

        width:100%;
        margin: 35px;

    }
    .img{
        width:150px;
        margin-bottom: 12px;
    }
    .video{
        width:160px;
        margin-top: 12px;
    }
}
@media (min-width: 769px){
    img{
        width:350px;
        margin-bottom: 20px;
    }
    .video{
        width:350px;
        margin-top: 20px;
    }
}
@media (max-width: 767px){
    .imgs{
        display: none;
    }

}
@media (min-width: 1025px){
    .video{
        width:560px;
        height:315px;
        margin-top: 25px;
    }
    img{
        width:650px;
        margin-bottom: 25px;
    }
}
